Node-RED Flow/arceus-flow.json
[{"id":"c5df8346.c09c2","type":"tab","label":"Registration, Verification","disabled":false,"info":""},{"id":"c581679.4097398","type":"tab","label":"Login, Mode of Transport","disabled":false,"info":""},{"id":"e05c0b4e.1f7ce","type":"tab","label":"Choose Location, Time-slot Booking","disabled":false,"info":""},{"id":"f613400a.c17df","type":"tab","label":"Symptom-Checker, Payment","disabled":false,"info":""},{"id":"5aacb45.4eda34c","type":"tab","label":"Symptom-Checker for >1 Passengers,Result of Assessment","disabled":false,"info":""},{"id":"cb286b43.5d79f8","type":"tab","label":"QR Code Generation, Booking Confirmation","disabled":false,"info":""},{"id":"d9f1ce09.24629","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2418f38b.887f8c","type":"ui_tab","z":"","name":"Register","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"f3dd3303.7cf31","type":"ui_group","z":"","name":"User Registration","tab":"2418f38b.887f8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9aa3b0d7.419ab","type":"ui_group","z":"","name":"Email Verification","tab":"2418f38b.887f8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"f86d0831.8a9268","type":"ui_tab","z":"","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"eb57d8f0.8659c8","type":"ui_group","z":"","name":"User Login","tab":"f86d0831.8a9268","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f00426d.149a","type":"ui_tab","z":"","name":"Mode of Transport","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"50494543.9dd6fc","type":"ui_group","z":"","name":"Choose Transport Service","tab":"8f00426d.149a","order":1,"disp":true,"width":"6","collapse":false},{"id":"502f6c1f.652bc4","type":"ui_tab","z":"","name":"Choose Location","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"f92e480c.802278","type":"ui_group","z":"","name":"Bus Stops","tab":"502f6c1f.652bc4","order":1,"disp":false,"width":"7","collapse":false},{"id":"de9aa1f6.4af17","type":"ui_group","z":"","name":"Train Stops","tab":"502f6c1f.652bc4","order":2,"disp":false,"width":"7","collapse":false},{"id":"9852242d.c8ed78","type":"ui_group","z":"","name":"Metro Stops","tab":"502f6c1f.652bc4","order":3,"disp":false,"width":"7","collapse":false},{"id":"3bf3b4f3.5cd734","type":"ui_tab","z":"","name":"Corona Symptom-Checker","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"929b4173.d215c8","type":"ui_group","z":"","name":"Self-Assessment","tab":"3bf3b4f3.5cd734","order":1,"disp":true,"width":"6","collapse":false},{"id":"3daabec8.97f4b2","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","order":11,"disabled":false,"hidden":true},{"id":"9cb169ac.facb2","type":"ui_group","z":"","name":"Choose Payment Method","tab":"3daabec8.97f4b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"914ae5af.e7c838","type":"ui_group","z":"","name":"QR Code Generation","tab":"bcdfa164.8602e","order":1,"disp":false,"width":"6","collapse":false},{"id":"bcdfa164.8602e","type":"ui_tab","z":"","name":"Booking Success","icon":"dashboard","order":12,"disabled":false,"hidden":true},{"id":"d13218f8.53b6b8","type":"ui_group","z":"","name":"QRCode","tab":"bcdfa164.8602e","order":2,"disp":false,"width":"5","collapse":false},{"id":"767f785a.b58ca","type":"ui_tab","z":"","name":"Bus Booking Schedule","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"3b70865d.182f7a","type":"ui_group","z":"","name":"Schedule","tab":"767f785a.b58ca","order":1,"disp":true,"width":"11","collapse":false},{"id":"fb4c8c81.beefe8","type":"ui_tab","z":"","name":"Train Booking Schedule","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"daa54b51.3bafa8","type":"ui_group","z":"","name":"Schedule","tab":"fb4c8c81.beefe8","order":1,"disp":true,"width":"11","collapse":false},{"id":"87d8d29a.967928","type":"ui_tab","z":"","name":"Metro Booking Schedule","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"e76d2708.ba89d","type":"ui_group","z":"","name":"Schedule","tab":"87d8d29a.967928","order":1,"disp":true,"width":"11","collapse":false},{"id":"a0e7a4c1.f8e0a8","type":"ui_tab","z":"","name":"Symptom-Checker","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"2d1a9f93.938ba","type":"ui_group","z":"","name":"Assessment","tab":"a0e7a4c1.f8e0a8","order":1,"disp":false,"width":"23","collapse":false},{"id":"a11a2907.8c0f1","type":"ui_tab","z":"","name":"Assessment Result","icon":"dashboard","order":10,"disabled":false,"hidden":true},{"id":"17d286a.57e0e79","type":"ui_group","z":"","name":"Result","tab":"a11a2907.8c0f1","order":1,"disp":false,"width":"9","collapse":false},{"id":"380841d7.73a76e","type":"watson-conversation-v1","z":"f613400a.c17df","name":"","workspaceid":"c0085ef9-87d9-4b4d-ac1e-cb05a65cee7e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f5d4efb1-c39e-4d1d-adcd-d30ac4148ac7","timeout":"","optout-learning":false,"x":380,"y":160,"wires":[["9df6c7c7.ea3e48"]]},{"id":"8e61a8b2.af245","type":"function","z":"f613400a.c17df","name":"global retrieve","func":"msg.payload=global.get(\"reply\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["380841d7.73a76e"]]},{"id":"9df6c7c7.ea3e48","type":"function","z":"f613400a.c17df","name":"output","func":"msg.payload = msg.payload.output.text[0]\nreturn msg","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["d2ca09c2.e6c3","358ebbe9.d09814","4ae72b26.412af4","4ec4fe94.4692a8"]]},{"id":"4ec4fe94.4692a8","type":"function","z":"f613400a.c17df","name":"tab switch","func":"if(msg.payload==\"You are at very low risk.\")\n{\n    global.set(\"color\",\"green\");\n    msg.payload={tab:'Payment'};\n    return msg;\n}\nelse if(msg.payload==\"You are at medium risk\")\n{\n    global.set(\"color\",\"yellow\");\n    msg.payload={tab:'Payment'};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["e6a44340.e4e738","2f3b2bc6.12020c"]]},{"id":"f4052809.39b098","type":"function","z":"f613400a.c17df","name":"global save","func":"global.set(\"reply\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[[]]},{"id":"e6a44340.e4e738","type":"delay","z":"f613400a.c17df","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":100,"wires":[["40f167b8.f17e98","f1073602.b0e11"]]},{"id":"358ebbe9.d09814","type":"debug","z":"f613400a.c17df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"8255a62f.4c5c58","type":"comment","z":"e05c0b4e.1f7ce","name":"Choose Location","info":"","x":100,"y":60,"wires":[]},{"id":"f3a613ed.a5bd28","type":"comment","z":"e05c0b4e.1f7ce","name":"bus schedule","info":"","x":90,"y":400,"wires":[]},{"id":"14a1ec31.299944","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Route_no:a[i].Route_no,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Amount:(s.indexOf(dest)-s.indexOf(src))*5*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Bus Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["51e9a9f6.7f74e8","e3ea3b23.72df78","1ec94339.46f98d"]]},{"id":"1b335aa6.03435d","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":240,"y":500,"wires":[["14a1ec31.299944"]]},{"id":"69975b2a.7046fc","type":"comment","z":"e05c0b4e.1f7ce","name":"train schedule","info":"","x":90,"y":580,"wires":[]},{"id":"fb7f3cb8.962f28","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":300,"y":640,"wires":[["15b83d2f.9021eb"]]},{"id":"15b83d2f.9021eb","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Route_no:a[i].Route_no,Amount:(s.indexOf(dest)-s.indexOf(src))*5*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Train Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["b2b68b0c.0b94d","db712137.84da38","1ec94339.46f98d"]]},{"id":"2613eb51.4247c4","type":"comment","z":"e05c0b4e.1f7ce","name":"metro schedule","info":"","x":100,"y":740,"wires":[]},{"id":"ac61ff9f.3c76d","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":340,"y":800,"wires":[["9700e384.a68548"]]},{"id":"9700e384.a68548","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Route_no:a[i].Route_no,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Amount:(s.indexOf(dest)-s.indexOf(src))*10*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Metro Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["7d88c3f7.2e3b3c","1a51a4a0.89b9db","1ec94339.46f98d"]]},{"id":"51e9a9f6.7f74e8","type":"function","z":"e05c0b4e.1f7ce","name":"bus route found","func":"if(msg.payload!=\"No Bus Route/s Found\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["77a906dc.8766d8"]]},{"id":"e3ea3b23.72df78","type":"function","z":"e05c0b4e.1f7ce","name":"no bus route","func":"if(msg.payload==\"No Bus Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"6cb77601.aaa9a8","type":"function","z":"e05c0b4e.1f7ce","name":"choose src, dest","func":"msg.payload={tab:\"Choose Location\"};\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":420,"wires":[["b639e9bf.65aae8"]]},{"id":"b2b68b0c.0b94d","type":"function","z":"e05c0b4e.1f7ce","name":"train route found","func":"if(msg.payload!=\"No Train Route/s Found\")\n{\n  return msg;\n}","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["f5bc526e.e0f408"]]},{"id":"db712137.84da38","type":"function","z":"e05c0b4e.1f7ce","name":"no train route","func":"if(msg.payload==\"No Train Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"7d88c3f7.2e3b3c","type":"function","z":"e05c0b4e.1f7ce","name":"metro route found","func":"if(msg.payload!=\"No Metro Route/s Found\")\n{\n  return msg;\n}","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["dc41ae89.16615"]]},{"id":"1a51a4a0.89b9db","type":"function","z":"e05c0b4e.1f7ce","name":"no metro route","func":"if(msg.payload==\"No Metro Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"660ac869.61286","type":"function","z":"e05c0b4e.1f7ce","name":"bus global save","func":"global.set(\"bus_time\",msg.payload.Time);\nglobal.set(\"bus_route_no\",msg.payload.Route_no);\nglobal.set(\"bus_amount\",msg.payload.Amount);\nglobal.set(\"bus_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":540,"wires":[["ee54e6c4.2f28d8"]]},{"id":"2db220b4.584368","type":"function","z":"e05c0b4e.1f7ce","name":"train global save","func":"global.set(\"train_time\",msg.payload.Time);\nglobal.set(\"train_route_no\",msg.payload.Route_no);\nglobal.set(\"train_amount\",msg.payload.Amount);\nglobal.set(\"train_coach\",msg.payload.Coach);\nglobal.set(\"train_seats\",msg.payload.Seats);\nglobal.set(\"train_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":660,"wires":[["a9ec0b01.14bd6"]]},{"id":"8a0e8d0e.7f122","type":"function","z":"e05c0b4e.1f7ce","name":"metro global save","func":"global.set(\"metro_time\",msg.payload.Time);\nglobal.set(\"metro_route_no\",msg.payload.Route_no);\nglobal.set(\"metro_amount\",msg.payload.Amount);\nglobal.set(\"metro_coach\",msg.payload.Coach);\nglobal.set(\"metro_seats\",msg.payload.Seats);\nglobal.set(\"metro_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["90e1b858.3f00b8"]]},{"id":"ef2232ca.1b731","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":600,"wires":[]},{"id":"548da77b.a8bb7","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":840,"wires":[]},{"id":"6cf2e182.00ad","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":720,"wires":[]},{"id":"ee54e6c4.2f28d8","type":"function","z":"e05c0b4e.1f7ce","name":"bus selected time","func":"var bus_time=global.get(\"bus_time\");\nmsg.payload=\"Selected Time: \"+bus_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":540,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"90e1b858.3f00b8","type":"function","z":"e05c0b4e.1f7ce","name":"metro selected time","func":"var metro_time=global.get(\"metro_time\");\nmsg.payload=\"Selected Time: \"+metro_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":780,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"a9ec0b01.14bd6","type":"function","z":"e05c0b4e.1f7ce","name":"train selected time","func":"var train_time=global.get(\"train_time\");\nmsg.payload=\"Selected Time: \"+train_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":640,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"f09c1aee.9782c8","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1690,"y":600,"wires":[["b0361ef.1640fe"]]},{"id":"b0361ef.1640fe","type":"function","z":"e05c0b4e.1f7ce","name":"say hello","func":"msg.payload=\"Type 'hello' to start the assessment!\";\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":600,"wires":[["ccc54686.d81208"]]},{"id":"b1365035.4b8aa8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!==\"\" && global.get(\"dest\")!==\"\" && global.get(\"npeople\")!==\"\")\n{\n  var transport=global.get(\"transport\");\n  if(transport==\"Bus\")\n  {\n      msg.payload={tab:\"Bus Booking Schedule\"};\n      return msg;\n  }\n}\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["2984a1ba.2d6256","1b335aa6.03435d","a3554a94.1a995"]]},{"id":"43c9625b.b6982c","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!=\"\" && global.get(\"dest\")!=\"\" && global.get(\"npeople\")!=\"\")\n{\n  var transport=global.get(\"transport\");\n  if(transport==\"Train\")\n  {\n    msg.payload={tab:\"Train Booking Schedule\"};\n    return msg;\n  }\n}\n","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["2984a1ba.2d6256","fb7f3cb8.962f28","a3554a94.1a995"]]},{"id":"8aaf3e47.45ffb8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!=\"\" && global.get(\"dest\")!=\"\" && global.get(\"npeople\")!=\"\"){\n  var transport=global.get(\"transport\");\n  if(transport==\"Metro\")\n  {\n    msg.payload={tab:\"Metro Booking Schedule\"};\n    return msg;\n  }\n}","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["2984a1ba.2d6256","ac61ff9f.3c76d","a3554a94.1a995"]]},{"id":"2f9bc7df.4e1948","type":"function","z":"e05c0b4e.1f7ce","name":"global destination","func":"if(msg.payload!==\"\")\n{\n    global.set(\"dest\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1350,"y":280,"wires":[[]]},{"id":"b0fc7409.10f3c8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"if(global.get(\"npeople\")==1)\n{\n    msg.payload={tab:\"Corona Symptom-Checker\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1680,"y":520,"wires":[["8446798e.b2a9c8","f09c1aee.9782c8"]]},{"id":"b639e9bf.65aae8","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":420,"wires":[["47ad103d.ee0358"]]},{"id":"2f3b2bc6.12020c","type":"function","z":"f613400a.c17df","name":"globally get amount","func":"var transport=global.get(\"transport\");\nif(transport=='Bus')\n{\n    msg.payload=\"Rs. \"+global.get(\"bus_amount\");\n}\nelse if(transport=='Train')\n{\n    msg.payload=\"Rs. \"+global.get(\"train_amount\");\n}\nif(transport=='Metro')\n{\n    msg.payload=\"Rs. \"+global.get(\"metro_amount\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["901957f5.eb51b8","f5d3ab57.ebb3f"]]},{"id":"bb90c22f.08da18","type":"function","z":"f613400a.c17df","name":"tab switch","func":"msg.payload={tab:'Booking Success',group:{hide:[\"Booking_Success_QRCode\"],show:[\"Booking_Success_QR_Code_Generation\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":620,"wires":[["95e3004d.5c6f08"]]},{"id":"781d21d1.3dc77","type":"comment","z":"f613400a.c17df","name":"Payment","info":"","x":120,"y":400,"wires":[]},{"id":"465b2161.3f934","type":"http request","z":"cb286b43.5d79f8","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["e9ea21bb.86f9"]]},{"id":"79d9ee36.c456e","type":"function","z":"cb286b43.5d79f8","name":"QR generate","func":"var email = global.get(\"email\");\nvar date=new Date().toLocaleString();\nglobal.set(\"timestamp\",date);\nmsg.payload = 'https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl='+'Email: '+email +' Timestamp: '+date+'&chld=H|0';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["465b2161.3f934","858e5235.12fe9","8894e576.e75338"]]},{"id":"8894e576.e75338","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":300,"wires":[]},{"id":"b369ec48.3cecb8","type":"function","z":"cb286b43.5d79f8","name":"group switch","func":"msg.payload={tab:'Booking Success',group:{show:[\"Booking_Success_QRCode\"],hide:[\"Booking_Success_QR_Code_Generation\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["fbe9a8bb.24f7e"]]},{"id":"f8bbbf59.dd27f","type":"function","z":"cb286b43.5d79f8","name":"qr code message","func":"msg.payload=\"Generating QR Code! Please Wait....\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["20e1661b.b01562"]]},{"id":"40b05691.1505a8","type":"comment","z":"f613400a.c17df","name":"Symptom-Checker","info":"","x":130,"y":60,"wires":[]},{"id":"901957f5.eb51b8","type":"debug","z":"f613400a.c17df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":440,"wires":[]},{"id":"612a6740.04a6a8","type":"comment","z":"c5df8346.c09c2","name":"Registration","info":"","x":110,"y":40,"wires":[]},{"id":"bb383902.68794","type":"function","z":"c581679.4097398","name":"setting global values","func":"if(msg.payload.cr)\n{\n    global.set(\"email\",msg.payload.email);\n    global.set(\"pwd\",msg.payload.pwd);\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["21e6ee38.7b0522"]]},{"id":"21349aba.377636","type":"comment","z":"c581679.4097398","name":"Login","info":"","x":70,"y":60,"wires":[]},{"id":"e68aca7f.caa73","type":"cloudant in","z":"c581679.4097398","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":490,"y":200,"wires":[["7e94bec2.18b14","c9b092dd.170bf"]]},{"id":"21e6ee38.7b0522","type":"function","z":"c581679.4097398","name":"getting email from database","func":"var email = global.get(\"email\");\nmsg.payload = {_id:email};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["e68aca7f.caa73"]]},{"id":"7e94bec2.18b14","type":"function","z":"c581679.4097398","name":"checking password","func":"var pwd = global.get('pwd');\nif(msg.payload===null)\n{\n    msg.payload = \"Incorrect Email or Password\";\n}\nelse if(msg.payload.Password==pwd)\n{\n    msg.payload = \"Login Successful\";\n}\nelse\n{\n    msg.payload = \"Incorrect Email or Password\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["39429158.b03d3e","3e930a51.f7cb66"]]},{"id":"3e930a51.f7cb66","type":"function","z":"c581679.4097398","name":"tab switch","func":"if(msg.payload == \"Login Successful\")\n    msg.payload={tab:\"Mode of Transport\"};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["25d0a25a.92e06e"]]},{"id":"25d0a25a.92e06e","type":"delay","z":"c581679.4097398","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":280,"wires":[["daa86e73.b699c8"]]},{"id":"c9b092dd.170bf","type":"debug","z":"c581679.4097398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"f92d0fe7.13306","type":"function","z":"c581679.4097398","name":"tab switch","func":"msg.payload={tab:\"Register\",group:{hide:[\"Register_Email_Verification\"],show:[\"Register_User_Registration\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["e02926cb.4413a8"]]},{"id":"39eed23c.ea4d5e","type":"comment","z":"c581679.4097398","name":"Mode of Transport","info":"","x":110,"y":460,"wires":[]},{"id":"66462031.fc591","type":"function","z":"c581679.4097398","name":"global save","func":"global.set(\"transport\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[[]]},{"id":"4a1e1817.d4fb08","type":"function","z":"c581679.4097398","name":"tab switch, group hide/show","func":"var trans=global.get(\"transport\");\nif(trans=='Bus')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Bus_Stops\"],\n       hide:[\"Choose_Location_Train_Stops\",\"Choose_Location_Metro_Stops\"]}};\n}\nelse if(trans=='Train')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Train_Stops\"],\n       hide:[\"Choose_Location_Bus_Stops\",\"Choose_Location_Metro_Stops\"]}};\n}\nelse if(trans=='Metro')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Metro_Stops\"],\n       hide:[\"Choose_Location_Bus_Stops\",\"Choose_Location_Train_Stops\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["d29d387.bfdf048"]]},{"id":"83fa5603.1e0a88","type":"cloudant out","z":"c5df8346.c09c2","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":950,"y":660,"wires":[]},{"id":"f179c221.9242d","type":"function","z":"c5df8346.c09c2","name":"checking codes","func":"if(global.get(\"usercode\")==global.get(\"code\"))\n{\n    global.set(\"verify\",1);\n}\nelse\n{\n    global.set(\"verify\",0);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["75425da3.08f3dc","168b1337.e33515"]]},{"id":"8025d65b.f17d7","type":"function","z":"c5df8346.c09c2","name":"check","func":"var email=global.get(\"email\");\nif(msg.payload===null)\n{\n    global.set(\"flag\",0);\n}\nelse if(msg.payload._id==email)\n{\n    global.set(\"flag\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["6e777d26.19f9bc","9dc94d73.a12d28"]]},{"id":"d62ad9bd.9ddc68","type":"function","z":"c5df8346.c09c2","name":"setting global values","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nglobal.set(\"f_name\",msg.payload.f_name);\nglobal.set(\"l_name\",msg.payload.l_name);\nglobal.set(\"phone_no\",msg.payload.phone_no);\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["193f9cd3.b3e333"]]},{"id":"193f9cd3.b3e333","type":"function","z":"c5df8346.c09c2","name":"checking email from database","func":"var email = global.get(\"email\");\nmsg.payload = {_id:email};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["153a0ae1.669edd"]]},{"id":"153a0ae1.669edd","type":"cloudant in","z":"c5df8346.c09c2","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":410,"y":140,"wires":[["8025d65b.f17d7"]]},{"id":"447c2efb.6d6828","type":"function","z":"c5df8346.c09c2","name":"registration success","func":"msg.payload=\"Registration Successful! You can now Login.\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["9ef6f1b7.742bf","7f00af9a.473448"]]},{"id":"9dc94d73.a12d28","type":"function","z":"c5df8346.c09c2","name":"already registered","func":"var flag=global.get(\"flag\");\nif(flag===1){\n    msg.payload=\"Sorry! This email is already registered. Try logging in.\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["a358c5fc.b7eaf8","7f00af9a.473448"]]},{"id":"7f00af9a.473448","type":"function","z":"c5df8346.c09c2","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["db69faf6.aba07"]]},{"id":"db69faf6.aba07","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":160,"wires":[["67b7dc75.7140ac"]]},{"id":"6e777d26.19f9bc","type":"function","z":"c5df8346.c09c2","name":"verification code","func":"var flag=global.get(\"flag\");\nif(flag===0)\n{\n    var verify=\"\";\n    for(i=0;i<4;i++)\n    {\n        verify+=String(Math.floor(Math.random()*10));\n    }\n    global.set(\"code\",verify);\n    msg.payload=verify;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["6fa1a4bb.708dfc","5fea407c.efbd58","5ec06db9.fd8824"]]},{"id":"6fa1a4bb.708dfc","type":"function","z":"c5df8346.c09c2","name":"verify message","func":"msg.payload=\"Please Check your Email for the Verification Code. Please Wait till you receive the Code.\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["2d327eba.054c6a"]]},{"id":"168b1337.e33515","type":"function","z":"c5df8346.c09c2","name":"wrong verification","func":"if(global.get(\"verify\")===0)\n{\n    msg.payload=\"Invalid Verification Code!\";\n    return msg;\n}","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["b8f3eebf.24e04"]]},{"id":"75425da3.08f3dc","type":"function","z":"c5df8346.c09c2","name":"verified","func":"if(global.get(\"verify\")===1)\n{\n    msg.payload = {\n    _id:global.get(\"email\"),\n    First_name:global.get(\"f_name\"),\n    Last_name:global.get(\"l_name\"),\n    Email:global.get(\"email\"),\n    Password:global.get(\"password\"),\n    Phone_No:global.get(\"phone_no\")\n   };\n   return msg; \n}\n","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["83fa5603.1e0a88","447c2efb.6d6828"]]},{"id":"f0a689c1.5ac13","type":"function","z":"c5df8346.c09c2","name":"tab switch","func":"msg.payload={tab:\"Register\",group:{show:[\"Register_Email_Verification\"],hide:[\"Register_User_Registration\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":340,"wires":[["d71fe474.1c22"]]},{"id":"43120b59.09105c","type":"function","z":"c5df8346.c09c2","name":"global save","func":"global.set(\"usercode\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":560,"wires":[[]]},{"id":"5fea407c.efbd58","type":"function","z":"c5df8346.c09c2","name":"send mail","func":"msg.to=global.get(\"email\");\nmsg.payload=\"Hello \"+global.get(\"f_name\")+\" \"+global.get(\"l_name\")+\"!<br>Thanks for Signing up to E-Rides.\";\nmsg.payload+=\"<br>Please Enter the below 4-digit Code in Web-app to Verify your Email.\";\nmsg.payload+=\"<br><h2 align='center'>\"+global.get(\"code\")+\"</h2><br>Regards,<br>E-Rides\";\nmsg.topic=\"Verify Your Email Address\";\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["70afcdbc.9b369c"]]},{"id":"5ec06db9.fd8824","type":"debug","z":"c5df8346.c09c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"c5411b05.3a2228","type":"function","z":"e05c0b4e.1f7ce","name":"global npassengers","func":"if(msg.payload!==\"\" && msg.payload>=1)\n{\n    global.set(\"npeople\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1970,"y":120,"wires":[[]]},{"id":"e9ea21bb.86f9","type":"image","z":"cb286b43.5d79f8","name":"","width":"140","data":"payload","dataType":"msg","thumbnail":true,"active":true,"pass":false,"outputs":0,"x":840,"y":140,"wires":[]},{"id":"70afcdbc.9b369c","type":"e-mail","z":"c5df8346.c09c2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"verify","x":810,"y":340,"wires":[]},{"id":"fc381e3c.0cfd8","type":"ui_button","z":"f613400a.c17df","name":"","group":"929b4173.d215c8","order":3,"width":0,"height":0,"passthru":false,"label":"SEND REPLY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":240,"wires":[["8e61a8b2.af245"]]},{"id":"3fe343c.1565f3c","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"f92e480c.802278","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":120,"wires":[["b1365035.4b8aa8"]]},{"id":"2e3c041e.7e5b44","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"de9aa1f6.4af17","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["43c9625b.b6982c"]]},{"id":"cdf3c0c4.479e38","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"9852242d.c8ed78","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":240,"wires":[["8aaf3e47.45ffb8"]]},{"id":"5e940f5c.be6ae","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":2,"width":0,"height":0,"passthru":false,"label":"Credit Card","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":540,"wires":[["bb90c22f.08da18"]]},{"id":"773b4664.d072c","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":3,"width":0,"height":0,"passthru":false,"label":"Debit Card","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":620,"wires":[["bb90c22f.08da18"]]},{"id":"10b8b28a.92fe7d","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":4,"width":0,"height":0,"passthru":false,"label":"Net Banking","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":700,"wires":[["bb90c22f.08da18"]]},{"id":"543fb280.c26eac","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":5,"width":0,"height":0,"passthru":false,"label":"Pass","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":780,"wires":[["bb90c22f.08da18"]]},{"id":"bdca6327.f8a628","type":"ui_button","z":"cb286b43.5d79f8","name":"","group":"914ae5af.e7c838","order":1,"width":0,"height":0,"passthru":false,"label":"Generate QR Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":220,"wires":[["79d9ee36.c456e","b369ec48.3cecb8","f8bbbf59.dd27f"]]},{"id":"5384cb89.821924","type":"ui_button","z":"c581679.4097398","name":"","group":"eb57d8f0.8659c8","order":3,"width":0,"height":0,"passthru":false,"label":"New User? Click To Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":380,"wires":[["f92d0fe7.13306"]]},{"id":"f7c20eef.d0541","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":1,"width":"0","height":"0","passthru":false,"label":"Bus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bus","payloadType":"str","topic":"","x":190,"y":540,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"576e2164.672ad","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":3,"width":"0","height":"0","passthru":false,"label":"Metro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Metro","payloadType":"str","topic":"Metro","x":190,"y":640,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"1772c386.10705c","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":5,"width":"0","height":"0","passthru":false,"label":"Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Train","payloadType":"str","topic":"","x":190,"y":740,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"46064341.591ba4","type":"ui_button","z":"c5df8346.c09c2","name":"","group":"9aa3b0d7.419ab","order":2,"width":0,"height":0,"passthru":false,"label":"VERIFY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":640,"wires":[["f179c221.9242d","88c8db60.185e2"]]},{"id":"17c1409.f90003f","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Bus Destination   ","tooltip":"","place":"Select Destination","group":"f92e480c.802278","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Ambegaon","value":"Ambegaon","type":"str"},{"label":"Atlas Company","value":"Atlas Company","type":"str"},{"label":"Aundh Gaon","value":"Aundh Gaon","type":"str"},{"label":"Aundh Road","value":"Aundh Road","type":"str"},{"label":"Bavdhan","value":"Bavdhan","type":"str"},{"label":"Bhosari","value":"Bhosari","type":"str"},{"label":"Bibwewadi","value":"Bibwewadi","type":"str"},{"label":"Body Gate","value":"Body Gate","type":"str"},{"label":"Chandni Chowk","value":"Chandni Chowk","type":"str"},{"label":"D-mart Hinjewadi","value":"D-mart Hinjewadi","type":"str"},{"label":"Gol Market","value":"Gol Market","type":"str"},{"label":"Govind Yashada Chowk","value":"Govind Yashada Chowk","type":"str"},{"label":"Hinjewadi Phase-1","value":"Hinjewadi Phase-1","type":"str"},{"label":"Hinjewadi Phase-2","value":"Hinjewadi Phase-2","type":"str"},{"label":"Hinjewadi Phase-3","value":"Hinjewadi Phase-3","type":"str"},{"label":"Jagtap Dairy","value":"Jagtap Dairy","type":"str"},{"label":"Kate Patil Chowk","value":"Kate Patil Chowk","type":"str"},{"label":"Katraj Talav","value":"Katraj Talav","type":"str"},{"label":"Katraj","value":"Katraj","type":"str"},{"label":"Kokane Chowk","value":"Kokane Chowk","type":"str"},{"label":"Kothrud","value":"Kothrud","type":"str"},{"label":"Landewadi Chowk","value":"Landewadi Chowk","type":"str"},{"label":"Manapa","value":"Manapa","type":"str"},{"label":"Mankar Chowk","value":"Mankar Chowk","type":"str"},{"label":"Mhasoba Gate","value":"Mhasoba Gate","type":"str"},{"label":"Nashik Phata","value":"Nashik Phata","type":"str"},{"label":"Navale Bridge","value":"Navale Bridge","type":"str"},{"label":"Pashan","value":"Pashan","type":"str"},{"label":"Pimple Saudagar Sai Complex","value":"Pimple Saudagar Sai Complex","type":"str"},{"label":"Pumping Station","value":"Pumping Station","type":"str"},{"label":"Pune Manapa Bus Station","value":"Pune Manapa Bus Station","type":"str"},{"label":"Pune Vidyapeeth Gate","value":"Pune Vidyapeeth Gate","type":"str"},{"label":"Rose Land Nisarg Nirmiti Society","value":"Rose Land Nisarg Nirmiti Society","type":"str"},{"label":"Shivaji Chowk","value":"Shivaji Chowk","type":"str"},{"label":"Sarasbaug","value":"Sarasbaug","type":"str"},{"label":"Shanivarwada","value":"Shanivarwada","type":"str"},{"label":"Shimla Office","value":"Shimla Office","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Shivaji Putla","value":"Shivaji Putla","type":"str"},{"label":"Sindh Colony","value":"Sindh Colony","type":"str"},{"label":"Suncity Stop","value":"Suncity Stop","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"V.I.T. College","value":"V.I.T. College","type":"str"},{"label":"Vadgaon Stop","value":"Vadgaon Stop","type":"str"},{"label":"Vishal Nagar","value":"Vishal Nagar","type":"str"},{"label":"Wakad Bridge","value":"Wakad Bridge","type":"str"},{"label":"Wakad Chowk","value":"Wakad Chowk","type":"str"},{"label":"Wakad Phata","value":"Wakad Phata","type":"str"},{"label":"Warje","value":"Warje","type":"str"}],"payload":"","topic":"","x":1020,"y":220,"wires":[["2f9bc7df.4e1948"]]},{"id":"9a140431.591828","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Bus Source    ","tooltip":"","place":"Select Source","group":"f92e480c.802278","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Ambegaon","value":"Ambegaon","type":"str"},{"label":"Atlas Company","value":"Atlas Company","type":"str"},{"label":"Aundh Gaon","value":"Aundh Gaon","type":"str"},{"label":"Aundh Road","value":"Aundh Road","type":"str"},{"label":"Bavdhan","value":"Bavdhan","type":"str"},{"label":"Bhosari","value":"Bhosari","type":"str"},{"label":"Bibwewadi","value":"Bibwewadi","type":"str"},{"label":"Body Gate","value":"Body Gate","type":"str"},{"label":"Chandni Chowk","value":"Chandni Chowk","type":"str"},{"label":"D-mart Hinjewadi","value":"D-mart Hinjewadi","type":"str"},{"label":"Gol Market","value":"Gol Market","type":"str"},{"label":"Govind Yashada Chowk","value":"Govind Yashada Chowk","type":"str"},{"label":"Hinjewadi Phase-1","value":"Hinjewadi Phase-1","type":"str"},{"label":"Hinjewadi Phase-2","value":"Hinjewadi Phase-2","type":"str"},{"label":"Hinjewadi Phase-3","value":"Hinjewadi Phase-3","type":"str"},{"label":"Jagtap Dairy","value":"Jagtap Dairy","type":"str"},{"label":"Kate Patil Chowk","value":"Kate Patil Chowk","type":"str"},{"label":"Katraj Talav","value":"Katraj Talav","type":"str"},{"label":"Katraj","value":"Katraj","type":"str"},{"label":"Kokane Chowk","value":"Kokane Chowk","type":"str"},{"label":"Kothrud","value":"Kothrud","type":"str"},{"label":"Landewadi Chowk","value":"Landewadi Chowk","type":"str"},{"label":"Manapa","value":"Manapa","type":"str"},{"label":"Mankar Chowk","value":"Mankar Chowk","type":"str"},{"label":"Mhasoba Gate","value":"Mhasoba Gate","type":"str"},{"label":"Nashik Phata","value":"Nashik Phata","type":"str"},{"label":"Navale Bridge","value":"Navale Bridge","type":"str"},{"label":"Pashan","value":"Pashan","type":"str"},{"label":"Pimple Saudagar Sai Complex","value":"Pimple Saudagar Sai Complex","type":"str"},{"label":"Pumping Station","value":"Pumping Station","type":"str"},{"label":"Pune Manapa Bus Station","value":"Pune Manapa Bus Station","type":"str"},{"label":"Pune Vidyapeeth Gate","value":"Pune Vidyapeeth Gate","type":"str"},{"label":"Rose Land Nisarg Nirmiti Society","value":"Rose Land Nisarg Nirmiti Society","type":"str"},{"label":"Shivaji Chowk","value":"Shivaji Chowk","type":"str"},{"label":"Sarasbaug","value":"Sarasbaug","type":"str"},{"label":"Shanivarwada","value":"Shanivarwada","type":"str"},{"label":"Shimla Office","value":"Shimla Office","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Shivaji Putla","value":"Shivaji Putla","type":"str"},{"label":"Sindh Colony","value":"Sindh Colony","type":"str"},{"label":"Suncity Stop","value":"Suncity Stop","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"V.I.T. College","value":"V.I.T. College","type":"str"},{"label":"Vadgaon Stop","value":"Vadgaon Stop","type":"str"},{"label":"Vishal Nagar","value":"Vishal Nagar","type":"str"},{"label":"Wakad Bridge","value":"Wakad Bridge","type":"str"},{"label":"Wakad Chowk","value":"Wakad Chowk","type":"str"},{"label":"Wakad Phata","value":"Wakad Phata","type":"str"},{"label":"Warje","value":"Warje","type":"str"}],"payload":"","topic":"","x":1010,"y":40,"wires":[["ded748e1.71787"]]},{"id":"9547a3d4.617508","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Metro Source","tooltip":"","place":"Select Source","group":"9852242d.c8ed78","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Anand Nagar","value":"Anand Nagar","type":"str"},{"label":"Bhosari (Nashik Phata)","value":"Bhosari (Nashik Phata)","type":"str"},{"label":"Bopodi","value":"Bopodi","type":"str"},{"label":"Budhwar Peth","value":"Budhwar Peth","type":"str"},{"label":"Bund Garden","value":"Bund Garden","type":"str"},{"label":"Chhatrapati Sambhaji Udyan","value":"Chhatrapati Sambhaji Udyan","type":"str"},{"label":"Civil Court","value":"Civil Court","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Deccan Gymkhana","value":"Deccan Gymkhana","type":"str"},{"label":"Garware College","value":"Garware College","type":"str"},{"label":"Ideal Colony","value":"Ideal Colony","type":"str"},{"label":"Kalyani Nagar","value":"Kalyani Nagar","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Mandai","value":"Mandai","type":"str"},{"label":"Mangalwar Peth","value":"Mangalwar Peth","type":"str"},{"label":"Nal Stop","value":"Nal Stop","type":"str"},{"label":"PCMC","value":"PCMC","type":"str"},{"label":"Phugewadi","value":"Phugewadi","type":"str"},{"label":"PMC","value":"PMC","type":"str"},{"label":"Pune Railway Station","value":"Pune Railway Station","type":"str"},{"label":"Ramwadi","value":"Ramwadi","type":"str"},{"label":"Range Hills","value":"Range Hills","type":"str"},{"label":"Ruby Hall Clinic","value":"Ruby Hall Clinic","type":"str"},{"label":"Sant Tukaram Nagar","value":"Sant Tukaram Nagar","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"Vanaz","value":"Vanaz","type":"str"},{"label":"Yerawada","value":"Yerawada","type":"str"}],"payload":"","topic":"","x":1020,"y":140,"wires":[["ded748e1.71787"]]},{"id":"157e5fcf.7752b","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Metro Destination","tooltip":"","place":"Select Destination","group":"9852242d.c8ed78","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Anand Nagar","value":"Anand Nagar","type":"str"},{"label":"Bhosari (Nashik Phata)","value":"Bhosari (Nashik Phata)","type":"str"},{"label":"Bopodi","value":"Bopodi","type":"str"},{"label":"Budhwar Peth","value":"Budhwar Peth","type":"str"},{"label":"Bund Garden","value":"Bund Garden","type":"str"},{"label":"Chhatrapati Sambhaji Udyan","value":"Chhatrapati Sambhaji Udyan","type":"str"},{"label":"Civil Court","value":"Civil Court","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Deccan Gymkhana","value":"Deccan Gymkhana","type":"str"},{"label":"Garware College","value":"Garware College","type":"str"},{"label":"Ideal Colony","value":"Ideal Colony","type":"str"},{"label":"Kalyani Nagar","value":"Kalyani Nagar","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Mandai","value":"Mandai","type":"str"},{"label":"Mangalwar Peth","value":"Mangalwar Peth","type":"str"},{"label":"Nal Stop","value":"Nal Stop","type":"str"},{"label":"PCMC","value":"PCMC","type":"str"},{"label":"Phugewadi","value":"Phugewadi","type":"str"},{"label":"PMC","value":"PMC","type":"str"},{"label":"Pune Railway Station","value":"Pune Railway Station","type":"str"},{"label":"Ramwadi","value":"Ramwadi","type":"str"},{"label":"Range Hills","value":"Range Hills","type":"str"},{"label":"Ruby Hall Clinic","value":"Ruby Hall Clinic","type":"str"},{"label":"Sant Tukaram Nagar","value":"Sant Tukaram Nagar","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"Vanaz","value":"Vanaz","type":"str"},{"label":"Yerawada","value":"Yerawada","type":"str"}],"payload":"","topic":"","x":1030,"y":340,"wires":[["2f9bc7df.4e1948"]]},{"id":"a659182a.4efea8","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Train Source","tooltip":"","place":"Select Source","group":"de9aa1f6.4af17","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Akurdi","value":"Akurdi","type":"str"},{"label":"Begdewadi","value":"Begdewadi","type":"str"},{"label":"Chinchwad","value":"Chinchwad","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Dehu Road","value":"Dehu Road","type":"str"},{"label":"Ghorawadi","value":"Ghorawadi","type":"str"},{"label":"Kanhe","value":"Kanhe","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Lonavala","value":"Lonavala","type":"str"},{"label":"Malavali","value":"Malavali","type":"str"},{"label":"Pimpri","value":"Pimpri","type":"str"},{"label":"Pune Station","value":"Pune Station","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Talegaon","value":"Talegaon","type":"str"},{"label":"Vadgaon","value":"Vadgaon","type":"str"}],"payload":"","topic":"","x":830,"y":100,"wires":[["ded748e1.71787"]]},{"id":"7b7b7ea2.32b6f8","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Train Destination","tooltip":"","place":"Select Destination","group":"de9aa1f6.4af17","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Akurdi","value":"Akurdi","type":"str"},{"label":"Begdewadi","value":"Begdewadi","type":"str"},{"label":"Chinchwad","value":"Chinchwad","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Dehu Road","value":"Dehu Road","type":"str"},{"label":"Ghorawadi","value":"Ghorawadi","type":"str"},{"label":"Kanhe","value":"Kanhe","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Lonavala","value":"Lonavala","type":"str"},{"label":"Malavali","value":"Malavali","type":"str"},{"label":"Pimpri","value":"Pimpri","type":"str"},{"label":"Pune Station","value":"Pune Station","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Talegaon","value":"Talegaon","type":"str"},{"label":"Vadgaon","value":"Vadgaon","type":"str"}],"payload":"","topic":"","x":890,"y":280,"wires":[["2f9bc7df.4e1948"]]},{"id":"aca2d5a7.1b33c8","type":"ui_text_input","z":"f613400a.c17df","name":"","label":"Enter your reply","tooltip":"","group":"929b4173.d215c8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":120,"y":160,"wires":[["fc381e3c.0cfd8","f4052809.39b098"]]},{"id":"a6ec4fd7.3dc4","type":"ui_text_input","z":"c5df8346.c09c2","name":"","label":"Verification Code","tooltip":"","group":"9aa3b0d7.419ab","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"700","topic":"","x":190,"y":560,"wires":[["46064341.591ba4","43120b59.09105c"]]},{"id":"3a7f0ffd.ae28","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"f92e480c.802278","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":100,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"a14837d7.06caa8","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"de9aa1f6.4af17","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":160,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"6deee0d9.cd3188","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"9852242d.c8ed78","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":220,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"d2ca09c2.e6c3","type":"ui_text","z":"f613400a.c17df","group":"929b4173.d215c8","order":1,"width":"6","height":"2","name":"Response","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":240,"wires":[]},{"id":"6c28a4fd.0e9f64","type":"ui_text","z":"f613400a.c17df","group":"9cb169ac.facb2","order":1,"width":0,"height":0,"name":"","label":"Amount To Be Paid: ","format":"{{msg.payload}}","layout":"row-center","x":680,"y":800,"wires":[]},{"id":"4cf56f8b.ad977","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":950,"y":500,"wires":[[]]},{"id":"ccc54686.d81208","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1970,"y":680,"wires":[[]]},{"id":"b7b045cb.2ccee","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1690,"y":720,"wires":[[]]},{"id":"20e1661b.b01562","type":"ui_toast","z":"cb286b43.5d79f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":410,"y":380,"wires":[[]]},{"id":"39429158.b03d3e","type":"ui_toast","z":"c581679.4097398","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":200,"wires":[[]]},{"id":"9ef6f1b7.742bf","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":580,"wires":[[]]},{"id":"a358c5fc.b7eaf8","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":240,"wires":[[]]},{"id":"2d327eba.054c6a","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":790,"y":440,"wires":[[]]},{"id":"b8f3eebf.24e04","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":720,"wires":[[]]},{"id":"d0c6b2a5.756e48","type":"ui_form","z":"c581679.4097398","name":"","label":"","group":"eb57d8f0.8659c8","order":1,"width":"0","height":"0","options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Captcha","value":"cr","type":"checkbox","required":true,"rows":null}],"formValue":{"email":"","pwd":"","cr":false},"payload":"","submit":"submit","cancel":"clear","topic":"","x":110,"y":120,"wires":[["bb383902.68794","b8dc2580.9310b"]]},{"id":"2f749cb4.8f3884","type":"ui_form","z":"c5df8346.c09c2","name":"","label":"","group":"f3dd3303.7cf31","order":1,"width":0,"height":0,"options":[{"label":"First Name ","value":"f_name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"l_name","type":"text","required":true,"rows":null},{"label":"Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Phone No.","value":"phone_no","type":"number","required":true,"rows":null}],"formValue":{"f_name":"","l_name":"","email":"","password":"","phone_no":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":130,"y":220,"wires":[["43c4ad4b.b4825c","f0a689c1.5ac13","d62ad9bd.9ddc68"]]},{"id":"f5bc526e.e0f408","type":"ui_template","z":"e05c0b4e.1f7ce","group":"daa54b51.3bafa8","name":"Train Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th colspan=\"2\" align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button ng-disabled=\"sumseats(obj.Seats)<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,0)})\">{{display(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n        <td align=\"center\"><md-button ng-show=\"decide(obj.Seats,obj.ReqSeats)\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,1)})\">{{display1(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.sumseats=function(seats)\n        {\n            sum=0;\n            for(i=0;i<24;i++)\n            {\n                sum+=seats[i];\n            }\n            return sum;\n        }\n        scope.selectchoice=function(time,route_no,amount,id,num)\n        { \n            for(i=0;i<scope.coachlist.length;i++)\n            {\n                if(scope.coachlist[i].Time==time && scope.coachlist[i].Button==num)\n                {\n                    return {Time:time,Route_no:route_no,Amount:amount,Coach:scope.coachlist[i].Coach,Seats:scope.coachlist[i].Seats,Id:id};\n\n                }\n            }\n        } \n        scope.coachlist=[];\n        scope.checkavail=function(seats)\n        {\n            for(i=0;i<24;i++)\n            {\n                if(seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        scope.display=function(seats,reqseats,time)\n        {\n            var coach=\"\";\n            var flag=0;\n            if(scope.checkavail(seats)==0)\n            {\n                return \"No Seats Left\";\n            }\n            for(i=0;i<24;i++)\n            {\n                if(seats[i]>=reqseats && reqseats!=0)\n                {\n                    if(flag===0)\n                    {\n                        if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:0})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:0})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                    }\n                    else\n                    {\n                        if(reqseats===1)\n                        {\n                            coach+=\",1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=\",\"+reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                        reqseats=0;\n                    }\n                }\n                else if(seats[i]<reqseats && seats[i]!=0 && reqseats!=0)\n                {\n                    flag=1;\n                    if(seats[i]===1)\n                        {\n                            coach+=\"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=seat[i]+\" Seats in Coach \"+(i+1);\n                        }\n                    reqseats-=seats[i];\n                }\n            }\n            lst=coach.split(\",\");\n            lst1=[];\n            seatn=[];\n            coachn=[];\n            for(i=0;i<lst.length;i++)\n            {\n                lst2=lst[i].split(\" \");\n                for(j=0;j<lst2.length;j++)\n                {\n                    lst1.push(lst2[j]);\n                }\n            }\n            for(i=0;i<lst1.length;i=i+5)\n            {\n                seatn.push(parseInt(lst1[i]))\n            }\n            for(i=4;i<lst1.length;i=i+5)\n            {\n                coachn.push(parseInt(lst1[i]))\n            }\n            scope.coachlist.push({Time:time,Coach:coachn,Seats:seatn,Button:0})\n            return coach;\n        }\n        scope.display1=function(seats,reqseats,time)\n        {\n           for(i=0;i<24;i++)\n            {\n                if(seats[i]>=reqseats)\n                {\n                    if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:1})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:1})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                }\n            }\n        }\n        scope.decide=function(seats,reqseats)\n        {\n            \n            for(i=0;i<24;i++)\n            {\n                if(seats[i]<reqseats && seats[i+1]>=reqseats && seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":890,"y":680,"wires":[["2db220b4.584368","6cf2e182.00ad"]]},{"id":"dc41ae89.16615","type":"ui_template","z":"e05c0b4e.1f7ce","group":"e76d2708.ba89d","name":"Metro Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th colspan=\"2\" align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button ng-disabled=\"(obj.Seats[0]+obj.Seats[1]+obj.Seats[2])<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,0)})\">{{display(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n        <td align=\"center\"><md-button ng-show=\"decide(obj.Seats,obj.ReqSeats)\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,1)})\">{{display1(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.selectchoice=function(time,route_no,amount,id,num)\n        { \n            for(i=0;i<scope.coachlist.length;i++)\n            {\n                if(scope.coachlist[i].Time==time && scope.coachlist[i].Button==num)\n                {\n                    return {Time:time,Route_no:route_no,Amount:amount,Coach:scope.coachlist[i].Coach,Seats:scope.coachlist[i].Seats,Id:id};\n\n                }\n            }\n        } \n        scope.coachlist=[];\n        scope.display=function(seats,reqseats,time)\n        {\n            var coach=\"\";\n            var flag=0;\n            if(seats[0]==0 && seats[1]==0 && seats[2]==0)\n            {\n                return \"No Seats Left\";\n            }\n            for(i=0;i<3;i++)\n            {\n                if(seats[i]>=reqseats && reqseats!=0)\n                {\n                    if(flag===0)\n                    {\n                        if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:0})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:0})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                    }\n                    else\n                    {\n                        if(reqseats===1)\n                        {\n                            coach+=\",1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=\",\"+reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                        reqseats=0;\n                    }\n                }\n                else if(seats[i]<reqseats && seats[i]!=0 && reqseats!=0)\n                {\n                    flag=1;\n                    if(seats[i]===1)\n                        {\n                            coach+=\"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=seat[i]+\" Seats in Coach \"+(i+1);\n                        }\n                    reqseats-=seats[i];\n                }\n            }\n            lst=coach.split(\",\");\n            lst1=[];\n            seatn=[];\n            coachn=[];\n            for(i=0;i<lst.length;i++)\n            {\n                lst2=lst[i].split(\" \");\n                for(j=0;j<lst2.length;j++)\n                {\n                    lst1.push(lst2[j]);\n                }\n            }\n            for(i=0;i<lst1.length;i=i+5)\n            {\n                seatn.push(parseInt(lst1[i]))\n            }\n            for(i=4;i<lst1.length;i=i+5)\n            {\n                coachn.push(parseInt(lst1[i]))\n            }\n            scope.coachlist.push({Time:time,Coach:coachn,Seats:seatn,Button:0})\n            return coach;\n        }\n        scope.display1=function(seats,reqseats,time)\n        {\n           for(i=0;i<3;i++)\n            {\n                if(seats[i]>=reqseats)\n                {\n                    if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:1})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:1})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                }\n            }\n        }\n        scope.decide=function(seats,reqseats)\n        {\n            \n            for(i=0;i<3;i++)\n            {\n                if(seats[i]<reqseats && seats[i+1]>=reqseats && seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":870,"y":740,"wires":[["548da77b.a8bb7","8a0e8d0e.7f122"]]},{"id":"77a906dc.8766d8","type":"ui_template","z":"e05c0b4e.1f7ce","group":"3b70865d.182f7a","name":"Bus Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button class=\"book\" ng-disabled=\"obj.Seats===0 || obj.Seats<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id)})\">{{display(obj.Seats,obj.ReqSeats)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.selectchoice=function(time,route_no,amount,id)\n        { \n            return {Time:time,Route_no:route_no,Amount:amount,Id:id};\n        } \n        scope.display=function(seats,reqseats)\n        {\n            if(seats===0)\n            {\n                return \"No Seats Left\";\n            }\n            else if(seats<reqseats)\n            {\n                if(seats==1)\n                {\n                    return \"Only 1 Seat Left\";\n                }\n                else\n                {\n                    return \"Only \"+seats+\" Seats Left\";\n                }\n            }\n            else\n            {\n                if(reqseats==1)\n                {\n                    return \"1 Seat\";\n                }\n                else\n                {\n                    return reqseats+\" Seats\";\n                }\n            }\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":910,"y":600,"wires":[["660ac869.61286","ef2232ca.1b731"]]},{"id":"858e5235.12fe9","type":"ui_template","z":"cb286b43.5d79f8","group":"d13218f8.53b6b8","name":"","order":2,"width":"5","height":"6","format":"\n<img id=\"qr\" crossorigin=\"anonymous\" width=\"150\" height=\"150\" src=  {{msg.payload}} alt='QR Code' style=\"border:5px solid black\">\n<md-button style=\"background-color: #0094CE\" onclick=\"ss()\">\nDownload\n</md-button>\n\n<canvas id=\"myCanvas\" style=\"display:none;\"></canvas>\n\n<script>\nconst canvas = document.getElementById(\"myCanvas\");\nconst img = document.getElementById(\"qr\");\nfunction ss() {\n  canvas.getContext('2d').drawImage(img, 0, 0)\n  var download = document.getElementById(\"download\");\n  var image = canvas.toDataURL(\"image/png\").replace(\"image/png\", \"image/octet-stream\");\n  var link = document.createElement('a');\n  link.download = \"qrcode.png\";\n  link.href = image;\n  link.click();\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":220,"wires":[["2ebb1987.c6a0de","e954d71.de88228","1c126e96.aa38f9"]]},{"id":"f1073602.b0e11","type":"ui_ui_control","z":"f613400a.c17df","name":"To Payment","events":"all","x":1050,"y":180,"wires":[[]]},{"id":"47ad103d.ee0358","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Choose Location","events":"all","x":1400,"y":480,"wires":[[]]},{"id":"8446798e.b2a9c8","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Corona Symptom-Checker","events":"all","x":1970,"y":520,"wires":[[]]},{"id":"2984a1ba.2d6256","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Booking Schedule","events":"all","x":780,"y":180,"wires":[[]]},{"id":"95e3004d.5c6f08","type":"ui_ui_control","z":"f613400a.c17df","name":"To QR Generation","events":"all","x":670,"y":620,"wires":[[]]},{"id":"fbe9a8bb.24f7e","type":"ui_ui_control","z":"cb286b43.5d79f8","name":"Show Group","events":"all","x":650,"y":380,"wires":[[]]},{"id":"daa86e73.b699c8","type":"ui_ui_control","z":"c581679.4097398","name":"To Mode of Transport","events":"all","x":1060,"y":280,"wires":[[]]},{"id":"e02926cb.4413a8","type":"ui_ui_control","z":"c581679.4097398","name":"To Register","events":"all","x":710,"y":380,"wires":[[]]},{"id":"d29d387.bfdf048","type":"ui_ui_control","z":"c581679.4097398","name":"To Choose Location","events":"all","x":860,"y":660,"wires":[[]]},{"id":"67b7dc75.7140ac","type":"ui_ui_control","z":"c5df8346.c09c2","name":"To Login","events":"all","x":1180,"y":240,"wires":[[]]},{"id":"d71fe474.1c22","type":"ui_ui_control","z":"c5df8346.c09c2","name":"Verify Email","events":"all","x":190,"y":420,"wires":[[]]},{"id":"ded748e1.71787","type":"function","z":"e05c0b4e.1f7ce","name":"global source","func":"if(msg.payload!==\"\")\n{\n    global.set(\"src\",msg.payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1250,"y":100,"wires":[[]]},{"id":"40f167b8.f17e98","type":"function","z":"f613400a.c17df","name":" clear conversation","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":40,"wires":[["d2ca09c2.e6c3","aca2d5a7.1b33c8"]]},{"id":"a3554a94.1a995","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":40,"wires":[["5267324f.1302a4"]]},{"id":"5267324f.1302a4","type":"function","z":"e05c0b4e.1f7ce","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":40,"wires":[["3a7f0ffd.ae28","a14837d7.06caa8","6deee0d9.cd3188","9a140431.591828","a659182a.4efea8","9547a3d4.617508","17c1409.f90003f","7b7b7ea2.32b6f8","157e5fcf.7752b"]]},{"id":"88c8db60.185e2","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":740,"wires":[["f24c2d40.a272b8"]]},{"id":"f24c2d40.a272b8","type":"function","z":"c5df8346.c09c2","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":800,"wires":[["a6ec4fd7.3dc4"]]},{"id":"43c4ad4b.b4825c","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":400,"wires":[["58894c70.46fdb4"]]},{"id":"58894c70.46fdb4","type":"function","z":"c5df8346.c09c2","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["2f749cb4.8f3884"]]},{"id":"b8dc2580.9310b","type":"delay","z":"c581679.4097398","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":60,"wires":[["94c4c963.4d3f3"]]},{"id":"94c4c963.4d3f3","type":"function","z":"c581679.4097398","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["d0c6b2a5.756e48"]]},{"id":"1ec94339.46f98d","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":900,"wires":[]},{"id":"2ebb1987.c6a0de","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Bus\")\n{\n    msg.payload={_id:global.get(\"bus_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":180,"wires":[["bc8cda6e.e050e8"]]},{"id":"bc8cda6e.e050e8","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1080,"y":260,"wires":[["49112672.545d"]]},{"id":"49112672.545d","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"global.set(\"bus_seat_start\",(20-msg.payload.AvailableSeats)+1);\nmsg.payload.AvailableSeats-=global.get(\"npeople\");\nglobal.set(\"bus_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"bus_start_src\",Stops[0]);\nglobal.set(\"bus_number\",msg.payload.Route_no);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["c0c11ab5.7a5b4","d4ec6494.742cb","17d0c14a.33309f"]]},{"id":"17d0c14a.33309f","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1600,"y":200,"wires":[]},{"id":"c0c11ab5.7a5b4","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"bus_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":200,"wires":[["2ef79436.0d1eac"]]},{"id":"2ef79436.0d1eac","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":120,"wires":[]},{"id":"e954d71.de88228","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Metro\")\n{\n    msg.payload={_id:global.get(\"metro_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["61120890.24de48"]]},{"id":"61120890.24de48","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1060,"y":420,"wires":[["5f3704d1.8a301c"]]},{"id":"7e64f466.4f524c","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1580,"y":460,"wires":[]},{"id":"25b96a85.e50a0e","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"metro_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":480,"wires":[["e0d4fbd9.a207e"]]},{"id":"e0d4fbd9.a207e","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":520,"wires":[]},{"id":"5f3704d1.8a301c","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"var metro_coach=global.get(\"metro_coach\");\nvar metro_seats=global.get(\"metro_seats\");\nvar metro_seat_start=[];\nfor(i=0;i<metro_coach.length;i++)\n{\n    metro_seat_start.push(26-msg.payload.AvailableSeats[metro_coach[i]-1]+1);\n    msg.payload.AvailableSeats[metro_coach[i]-1]-=metro_seats[i];\n}\nglobal.set(\"metro_seat_start\",train_seat_start);\nglobal.set(\"metro_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"metro_start_src\",Stops[0]);\nglobal.set(\"metro_number\",msg.payload.Route_no);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["25b96a85.e50a0e","d4ec6494.742cb","7e64f466.4f524c"]]},{"id":"d4ec6494.742cb","type":"function","z":"cb286b43.5d79f8","name":"save to booking database","func":"var transport=global.get(\"transport\");\n\nif(transport=='Bus')\n{\n    seat_start=global.get(\"bus_seat_start\");\n    seats=[];\n    for(i=seat_start;i<(seat_start+global.get(\"npeople\"));i++)\n    {\n        seats.push(i);\n    }\n    global.set(\"bus_seats\",seats)\n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"bus_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"bus_time\"),\n        Route_no: global.get(\"bus_number\"),\n        SeatNumbers: seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nelse if(transport=='Train')\n{\n    seat_start=global.get(\"train_seat_start\");\n    seat=global.get(\"train_seats\");\n    coach=global.get(\"train_coach\");\n    seats=[];\n    j=0;\n    while(j<seat_start.length)\n    {\n      for(i=seat_start[j];i<(seat_start[j]+seat[j]);i++)\n      {\n          coachn=\"Coach \"+coach[j];\n          seatn=\"Seat \"+i;\n          combo=coachn+\": \"+seatn;\n        seats.push(combo);\n      } \n      j++;\n    }\n    global.set(\"train_seatnumbers\",seats) \n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"train_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"train_time\"),\n        Route_no: global.get(\"train_number\"),\n        CoachNumbers:global.get(\"train_coach\"),\n        SeatNumbers:seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nelse if(transport=='Metro')\n{\n    seat_start=global.get(\"metro_seat_start\");\n    seat=global.get(\"metro_seats\");\n    coach=global.get(\"metro_coach\");\n    seats=[];\n    j=0;\n    while(j<seat_start.length)\n    {\n      for(i=seat_start[j];i<(seat_start[j]+seat[j]);i++)\n      {\n          coachn=\"Coach \"+coach[j];\n          seatn=\"Seat \"+i;\n          combo=coachn+\": \"+seatn;\n        seats.push(combo);\n      } \n      j++;\n    }\n    global.set(\"metro_seatnumbers\",seats) \n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"metro_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"metro_time\"),\n        Route_no: global.get(\"metro_number\"),\n        CoachNumbers:global.get(\"metro_coach\"),\n        SeatNumbers:seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":380,"wires":[["faeb32fd.ef40e","5ab5b3e3.d0c12c","78c260d9.7cb13"]]},{"id":"78c260d9.7cb13","type":"cloudant out","z":"cb286b43.5d79f8","name":"booking","cloudant":"","database":"booking","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":2200,"y":360,"wires":[]},{"id":"faeb32fd.ef40e","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2210,"y":460,"wires":[]},{"id":"5ab5b3e3.d0c12c","type":"function","z":"cb286b43.5d79f8","name":"booking mail","func":"msg.to=global.get(\"email\");\nif(global.get(\"transport\")==\"Bus\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"bus_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Bus\";\n    msg.payload+=\"<br>Bus Number: \"+global.get(\"bus_number\");\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Seat Number/s: \"+global.get(\"bus_seats\");\n    if(global.get(\"src\")!=global.get(\"bus_start_src\"))\n    {\n        msg.payload+=\"<br>Bus will start from origin i.e. \"+global.get(\"bus_start_src\")+\" at \"+global.get(\"bus_start_time\");\n    }\n}\nelse if(global.get(\"transport\")==\"Metro\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"metro_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Metro\";\n    msg.payload+=\"<br>Metro Route: \"+global.get(\"metro_number\");\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Coach and Seat Number/s:\";\n    seats=global.get(\"metro_seatnumbers\");\n    for(i=0;i<seats.length;i++)\n    {\n        msg.payload+=\"<br>\"+seats[i];\n    }\n    if(global.get(\"src\")!=global.get(\"metro_start_src\"))\n    {\n        msg.payload+=\"<br>Metro will start from origin i.e. \"+global.get(\"metro_start_src\")+\" at \"+global.get(\"metro_start_time\");\n    }\n}\nelse if(global.get(\"transport\")==\"Train\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"train_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Train\";\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Coach and Seat Number/s:\";\n    seats=global.get(\"train_seatnumbers\");\n    for(i=0;i<seats.length;i++)\n    {\n        msg.payload+=\"<br>\"+seats[i];\n    }\n    if(global.get(\"src\")!=global.get(\"train_start_src\"))\n    {\n        msg.payload+=\"<br>Train will start from origin i.e. \"+global.get(\"train_start_src\")+\" at \"+global.get(\"train_start_time\");\n    }\n}\nmsg.payload+=\"<br>Attached herewith is the QR Code which will be required for verification while boarding.\";\nmsg.payload+=\"<br><br>Note: All The Passengers will be Assessed before Boarding. Depending on that they will be allowed to board. If not allowed, the respective Amount will be Refunded. Please follow Social-Distancing and wear Mask.\"\nmsg.payload+=\"<br><br>Regards,<br>E-Rides\"\nmsg.attachments={\n    filename:\"qrcode.png\",\n    path:\"https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl=\"+\"Email: \"+global.get(\"email\")+\" Timestamp: \"+global.get(\"timestamp\")+\"&chld=H|0\"};\nmsg.topic=\"Booking Success\";\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":280,"wires":[["7ee0378.1678cc8","af6e71d4.cd604"]]},{"id":"af6e71d4.cd604","type":"e-mail","z":"cb286b43.5d79f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"booking","x":2140,"y":300,"wires":[]},{"id":"7ee0378.1678cc8","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":220,"wires":[]},{"id":"1c126e96.aa38f9","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Train\")\n{\n    msg.payload={_id:global.get(\"train_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":580,"wires":[["6696eb38.07b8bc"]]},{"id":"6696eb38.07b8bc","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1080,"y":660,"wires":[["6060bf11.b35a7"]]},{"id":"6d0ccea7.0a1bc","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1600,"y":700,"wires":[]},{"id":"6bab4789.06385","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"train_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":720,"wires":[["91fdb813.ddd67"]]},{"id":"91fdb813.ddd67","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":780,"wires":[]},{"id":"6060bf11.b35a7","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"var train_coach=global.get(\"train_coach\");\nvar train_seats=global.get(\"train_seats\");\nvar train_seat_start=[];\nfor(i=0;i<train_coach.length;i++)\n{\n    train_seat_start.push(54-msg.payload.AvailableSeats[train_coach[i]-1]+1);\n    msg.payload.AvailableSeats[train_coach[i]-1]-=train_seats[i];\n}\nglobal.set(\"train_seat_start\",train_seat_start);\nglobal.set(\"train_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"train_start_src\",Stops[0]);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":660,"wires":[["6bab4789.06385","d4ec6494.742cb","6d0ccea7.0a1bc"]]},{"id":"c5323da3.2af22","type":"ui_template","z":"5aacb45.4eda34c","group":"2d1a9f93.938ba","name":"","order":0,"width":"23","height":"9","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(90deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    border-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n*{\n    letter-spacing: 0.05em;\n}\ntd,th {\n    padding:5px;\n}\ntr:hover {background-color:#f5f5f5;}\nth{\n    background-color: skyblue;\n}\ntr{\n    background-color: lightyellow;\n}\nform {\n    word-spacing: 10px;\n}\n#t1 {\n    width: 100%;\n    text-align: center;\n}\n#t2 {\n    width: 50%;\n    text-align: center;\n}\n</style>\n<table>\n    <tr>\n        <th align=\"center\">Passenger Number</th>\n        <th align=\"center\">Enter your Name</th>\n        <th align=\"center\" style=\"width: 90px\">Select your Gender</th>\n        <th align=\"center\">Enter your Age</th>\n        <th align=\"center\">Are you experiencing any of the following symptoms? Cough/Fever/Difficulty in Breathing</th>\n        <th align=\"center\">Have you ever had any one of the following: Diabetes/Hypertension/Lung disease/Heart disease</th>\n        <th align=\"center\">Have you travelled anywhere internationally in the last 14 days?</th>\n        <th align=\"center\">Have you recently interacted or lived with someone who has tested positive for COVID-19?</th>\n        <th align=\"center\">Click To Save Passenger Information</th>\n    </tr>\n    <tr ng-repeat=\"n in range1(msg.payload) track by $index\">\n        <td align=\"center\">{{$index+1}}</td>\n        <td align=\"center\"><input ng-model=\"name\" id=\"t1\" type=\"text\"></td>\n        <td><form><input type=\"radio\" ng-model=\"gender\" value=\"male\">Male\n                                <input type=\"radio\" ng-model=\"gender\" value=\"female\">Female\n                                <input type=\"radio\" ng-model=\"gender\" value=\"other\">Other</form></td>\n        <td align=\"center\"><input ng-model=\"age\"  id=\"t2\"  type=\"text\"></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn1\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn1\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn2\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn2\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn3\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn3\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn4\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn4\" value=\"n\">No</form></td>\n        <td align=\"center\"><md-button ng-click=\"send({payload:sendinfo($index,name,gender,age,yn1,yn2,yn3,yn4)})\">Save</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n            scope.range1=function(num){\n                output=[]\n                for(i=0;i<num;i++)\n                {\n                    output.push(i);\n                }\n                return output;\n            }\n            scope.sendinfo=function(index,name,gender,age,q1,q2,q3,q4)\n            {\n                return {\"Index\":index,\"Name\":name,\"Gender\":gender,\"Age\":age,\"Q1\":q1,\"Q2\":q2,\"Q3\":q3,\"Q4\":q4};\n            }\n        })\n    })(scope)\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":220,"y":200,"wires":[["34976f65.d90528","82e4d91a.59d128"]]},{"id":"b4ab0eea.ee1488","type":"ui_template","z":"c581679.4097398","group":"eb57d8f0.8659c8","name":"Login","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":120,"wires":[[]]},{"id":"2f5c2af2.a17576","type":"ui_template","z":"c581679.4097398","group":"50494543.9dd6fc","name":"Mode of Transport","order":6,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-radius: 35px;\n}\n\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":520,"wires":[[]]},{"id":"c6ea67d4.0a8b98","type":"ui_template","z":"c5df8346.c09c2","group":"9aa3b0d7.419ab","name":"Email Verification","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":900,"wires":[[]]},{"id":"8b141271.658f78","type":"ui_template","z":"c5df8346.c09c2","group":"f3dd3303.7cf31","name":"Registration","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":370,"y":900,"wires":[[]]},{"id":"4be34ac6.5ad234","type":"ui_template","z":"e05c0b4e.1f7ce","group":"f92e480c.802278","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1280,"wires":[[]]},{"id":"66e98dd6.cb4fc4","type":"ui_template","z":"e05c0b4e.1f7ce","group":"3b70865d.182f7a","name":"Bus Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1280,"wires":[[]]},{"id":"67d8d2d2.dd193c","type":"ui_template","z":"e05c0b4e.1f7ce","group":"e76d2708.ba89d","name":"Metro Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1340,"wires":[[]]},{"id":"db0206f4.9596c8","type":"ui_template","z":"e05c0b4e.1f7ce","group":"daa54b51.3bafa8","name":"Train Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1400,"wires":[[]]},{"id":"8e071713.e1db7","type":"ui_template","z":"e05c0b4e.1f7ce","group":"9852242d.c8ed78","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1340,"wires":[[]]},{"id":"9cd17853.d9725","type":"ui_template","z":"e05c0b4e.1f7ce","group":"de9aa1f6.4af17","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1400,"wires":[[]]},{"id":"d0d42f84.10939","type":"ui_template","z":"f613400a.c17df","group":"929b4173.d215c8","name":"Corona Symptom-Checker","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":620,"wires":[[]]},{"id":"d6765584.1719f","type":"ui_template","z":"f613400a.c17df","group":"9cb169ac.facb2","name":"Payment","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":680,"wires":[[]]},{"id":"cac29670.a224e","type":"ui_template","z":"cb286b43.5d79f8","group":"914ae5af.e7c838","name":"QR Code Generation","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #0094CE;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #33a9d8;\n}\nbody .nr-dashboard-theme ui-card-panel {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":80,"wires":[[]]},{"id":"576321bf.84c1a","type":"ui_template","z":"cb286b43.5d79f8","group":"d13218f8.53b6b8","name":"QRCode","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #0094CE;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #33a9d8;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    background-color: transparent;\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":80,"wires":[[]]},{"id":"34976f65.d90528","type":"function","z":"5aacb45.4eda34c","name":"info missing","func":"if(!msg.payload.Name || !msg.payload.Gender || !msg.payload.Age || !msg.payload.Q1 || !msg.payload.Q2 || !msg.payload.Q3 || !msg.payload.Q4)\n{\n    msg.payload=\"Please Enter All The Required Details For Passenger \"+(msg.payload.Index+1);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["afc1d0ef.886c8"]]},{"id":"4505471.c7448b8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"if(global.get(\"npeople\")!=1)\n{\n    msg.payload={tab:\"Symptom-Checker\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1700,"y":820,"wires":[["b0556c46.3c381"]]},{"id":"b0556c46.3c381","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Symptom-Checker","events":"all","x":1960,"y":820,"wires":[["68f14ee1.76ec58"]]},{"id":"7e6794b9.6c5354","type":"ui_button","z":"cb286b43.5d79f8","name":"","group":"d13218f8.53b6b8","order":2,"width":0,"height":0,"passthru":false,"label":"Back To Home Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":620,"wires":[["9683c455.21b9f8"]]},{"id":"9683c455.21b9f8","type":"function","z":"cb286b43.5d79f8","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["3b3ce33e.aba32c"]]},{"id":"3b3ce33e.aba32c","type":"ui_ui_control","z":"cb286b43.5d79f8","name":"To Login","events":"all","x":720,"y":620,"wires":[[]]},{"id":"68f14ee1.76ec58","type":"function","z":"e05c0b4e.1f7ce","name":"set msg.payload","func":"global.set(\"info_count\",0)\nfor(i=0;i<global.get(\"npeople\");i++)\n{\n    str1=\"P\"+(i+1)+\"Info\";\n    global.set(str1,\"\");\n}\nmsg.payload=global.get(\"npeople\");\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":820,"wires":[["c46eb8c2.df746"]]},{"id":"c46eb8c2.df746","type":"link out","z":"e05c0b4e.1f7ce","name":"Symptom-Checker","links":["29848d7b.54ccc2"],"x":2395,"y":820,"wires":[]},{"id":"29848d7b.54ccc2","type":"link in","z":"5aacb45.4eda34c","name":"","links":["c46eb8c2.df746"],"x":60,"y":200,"wires":[["c5323da3.2af22"]]},{"id":"afc1d0ef.886c8","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":200,"wires":[[]]},{"id":"82e4d91a.59d128","type":"function","z":"5aacb45.4eda34c","name":"info correct","func":"if(msg.payload.Name && msg.payload.Gender && msg.payload.Age && msg.payload.Q1 && msg.payload.Q2 && msg.payload.Q3 && msg.payload.Q4)\n{\n    str1=\"P\"+(msg.payload.Index+1)+\"Info\"\n    if(global.get(str1)===\"\")\n    {\n        global.set(str1,msg.payload);\n        count=global.get(\"info_count\")\n        global.set(\"info_count\",count+1)\n    }\n    else\n    {\n        record=global.get(str1)\n        if((record.Name!=msg.payload.Name)||(record.Gender!=msg.payload.Gender)||(record.Age!=msg.payload.Age)||(record.Q1!=msg.payload.Q1)||(record.Q2!=msg.payload.Q2)||(record.Q3!=msg.payload.Q3)||(record.Q4!=msg.payload.Q4))\n        {\n            global.set(str1,msg.payload);\n        }\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["760571a3.921238","1a32f228.c13afe","53d6b527.8333f4"]]},{"id":"b22a65fe.ea2078","type":"function","z":"5aacb45.4eda34c","name":"checking info count","func":"if(global.get(\"info_count\")==global.get(\"npeople\"))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["7258dd2a.002e9c","7be79474.dab88c"]]},{"id":"8fa56294.29f3b","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:'Payment'};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["307c24dc.f256b4","b5515a24.57b61"]]},{"id":"307c24dc.f256b4","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":420,"wires":[["7bc84668.8210d"]]},{"id":"7bc84668.8210d","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Payment","events":"all","x":790,"y":420,"wires":[[]]},{"id":"b5515a24.57b61","type":"function","z":"5aacb45.4eda34c","name":"globally get amount","func":"var transport=global.get(\"transport\");\nif(transport=='Bus')\n{\n    msg.payload=\"Rs. \"+global.get(\"bus_amount\");\n}\nelse if(transport=='Train')\n{\n    msg.payload=\"Rs. \"+global.get(\"train_amount\");\n}\nif(transport=='Metro')\n{\n    msg.payload=\"Rs. \"+global.get(\"metro_amount\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["6bf08cc6.28114c","4267afcc.417ba8"]]},{"id":"6bf08cc6.28114c","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":600,"wires":[]},{"id":"827b6b20.b347e","type":"link in","z":"f613400a.c17df","name":"","links":["4267afcc.417ba8","f5d3ab57.ebb3f"],"x":460,"y":800,"wires":[["6c28a4fd.0e9f64"]]},{"id":"f5d3ab57.ebb3f","type":"link out","z":"f613400a.c17df","name":"Amount","links":["827b6b20.b347e"],"x":655,"y":360,"wires":[]},{"id":"4267afcc.417ba8","type":"link out","z":"5aacb45.4eda34c","name":"Amount","links":["827b6b20.b347e"],"x":575,"y":520,"wires":[]},{"id":"7258dd2a.002e9c","type":"function","z":"5aacb45.4eda34c","name":"retrieving info","func":"p=[]\nfor(i=0;i<global.get(\"npeople\");i++)\n{\n    str=\"P\"+(i+1)+\"Info\";\n    record=global.get(str);\n    p.push(record);\n}\nmsg.payload=p;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":120,"wires":[["9fe2e585.b5dcd"]]},{"id":"9fe2e585.b5dcd","type":"function","z":"5aacb45.4eda34c","name":"symptom-checking","func":"for(i=0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].Q1=='n' && msg.payload[i].Q2=='n' && msg.payload[i].Q3=='n' && msg.payload[i].Q4=='n')\n    {\n        msg.payload[i].Risk=\"Low Risk\";\n    }\n    else if((msg.payload[i].Q1=='n'&&msg.payload[i].Q2=='n'&&msg.payload[i].Q3=='n')||\n    (msg.payload[i].Q1=='n'&&msg.payload[i].Q2=='n'&&msg.payload[i].Q4=='n')||\n    (msg.payload[i].Q2=='n'&&msg.payload[i].Q3=='n'&&msg.payload[i].Q4=='n')||\n    (msg.payload[i].Q1=='n'&&msg.payload[i].Q3=='n'&&msg.payload[i].Q4=='n'))\n    {\n        msg.payload[i].Risk=\"Medium Risk\";\n    }\n    else\n    {\n        msg.payload[i].Risk=\"High Risk\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["f1e8cc28.eb4ba","307deeb0.1c910a","4b28dac7.78bbfc"]]},{"id":"f1e8cc28.eb4ba","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:\"Assessment Result\"}\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":160,"wires":[["7093b104.0d679"]]},{"id":"307deeb0.1c910a","type":"ui_template","z":"5aacb45.4eda34c","group":"17d286a.57e0e79","name":"","order":0,"width":"9","height":"4","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(90deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    border-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n*{\n    letter-spacing: 0.05em;\n}\ntd,th {\n    padding:5px;\n}\ntr:hover {background-color:#f5f5f5;}\nth{\n    background-color: skyblue;\n}\ntr{\n    background-color: lightyellow;\n    height: 37px;\n}\ntable {\n    word-spacing: 1px;\n    width: 100%;\n}\n</style>\n<table>\n    <tr>\n        <th align=\"center\">Passenger Number</th>\n        <th align=\"center\">Name</th>\n        <th align=\"center\">Gender</th>\n        <th align=\"center\">Age</th>\n        <th align=\"center\">Risk</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Index+1}}</td>\n        <td align=\"center\">{{obj.Name}}</td>\n        <td align=\"center\">{{obj.Gender}}</td>\n        <td align=\"center\">{{obj.Age}}</td>\n        <td align=\"center\">{{obj.Risk}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":200,"wires":[[]]},{"id":"7093b104.0d679","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Assessment Result","events":"all","x":1380,"y":100,"wires":[[]]},{"id":"ff62fd09.196e28","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":360,"wires":[["8fa56294.29f3b"]]},{"id":"760571a3.921238","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":60,"wires":[]},{"id":"7be79474.dab88c","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":60,"wires":[]},{"id":"c69e5e1b.a5edd8","type":"function","z":"5aacb45.4eda34c","name":"save risk details","func":"if(msg.payload!=\"High Risk\")\n{\n    risk=[]\n    for(i=0;i<msg.payload.length;i++)\n    {\n        if(msg.payload[i].Risk=='Low Risk')\n        {\n            risk.push(\"green\");\n        }\n        else if(msg.payload[i].Risk=='Medium Risk')\n        {\n            risk.push(\"yellow\");\n        }\n    }\n    global.set(\"color\",risk);\n    return msg;\n}","outputs":1,"noerr":0,"x":1320,"y":280,"wires":[["49a9c729.f04988","ff62fd09.196e28"]]},{"id":"9c6ea356.e9c8e","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"3b70865d.182f7a","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1020,"wires":[["3427b84c.5fd4d"]]},{"id":"4445c82c.1a8098","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"daa54b51.3bafa8","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1080,"wires":[["3427b84c.5fd4d"]]},{"id":"8462a5b1.3be7c","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"e76d2708.ba89d","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1140,"wires":[["3427b84c.5fd4d"]]},{"id":"3427b84c.5fd4d","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"msg.payload={tab:\"Choose Location\"};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1080,"wires":[["59a7d71b.106d1"]]},{"id":"59a7d71b.106d1","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Choose Location","events":"all","x":780,"y":1080,"wires":[[]]},{"id":"cd3d1d51.197b9","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"f92e480c.802278","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1020,"wires":[["ffda8a68.63c92"]]},{"id":"ffda8a68.63c92","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"msg.payload={tab:\"Mode of Transport\"};\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1080,"wires":[["52dd093b.a0d3f"]]},{"id":"52dd093b.a0d3f","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Mode of Transport","events":"all","x":1600,"y":1080,"wires":[[]]},{"id":"55134fcd.b7365","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"de9aa1f6.4af17","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1080,"wires":[["ffda8a68.63c92"]]},{"id":"7de957ac.e2f158","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"9852242d.c8ed78","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1140,"wires":[["ffda8a68.63c92"]]},{"id":"6c5e4a68.91a6fc","type":"function","z":"e05c0b4e.1f7ce","name":"passenger count check","func":"if(msg.payload!==\"\" && msg.payload<1)\n{\n    global.set(\"npeople\",\"\")\n    msg.payload=\"Enter Proper Passenger Count\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2010,"y":200,"wires":[["5f1cb60b.01edb8"]]},{"id":"5f1cb60b.01edb8","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2270,"y":200,"wires":[[]]},{"id":"4b28dac7.78bbfc","type":"function","z":"5aacb45.4eda34c","name":"check risk","func":"for(i=0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].Risk=='High Risk')\n    {\n        msg.payload=\"High Risk\";\n        return msg;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":260,"wires":[["c69e5e1b.a5edd8","92e52a7e.debcf8"]]},{"id":"4ae72b26.412af4","type":"function","z":"f613400a.c17df","name":"high risk user","func":"if(msg.payload==\"You are at high risk\")\n{\n    msg.payload=\"High Risk Detected. Sorry, we cannot allow you for booking\"\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["c1d8080d.666fd","5df207b1.4dc24"]]},{"id":"5df207b1.4dc24","type":"function","z":"f613400a.c17df","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["b6887ed.ed588"]]},{"id":"c1d8080d.666fd","type":"ui_toast","z":"f613400a.c17df","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1050,"y":280,"wires":[[]]},{"id":"b6887ed.ed588","type":"ui_ui_control","z":"f613400a.c17df","name":"To Login","events":"all","x":1200,"y":340,"wires":[[]]},{"id":"21d60e74.5f89c2","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1150,"y":560,"wires":[[]]},{"id":"a35e580b.1f6dc8","type":"function","z":"5aacb45.4eda34c","name":"to payment","func":"msg.payload=\"Redirecting to Payment\";\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":480,"wires":[["21d60e74.5f89c2"]]},{"id":"49a9c729.f04988","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":420,"wires":[["a35e580b.1f6dc8"]]},{"id":"92e52a7e.debcf8","type":"function","z":"5aacb45.4eda34c","name":"high risk user/s","func":"if(msg.payload==\"High Risk\")\n{\n    msg.payload=\"High Risk Detected. Sorry, we cannot allow you for booking\"\n    return msg;\n}","outputs":1,"noerr":0,"x":1360,"y":220,"wires":[["85190dbf.5a4c18","57e0dcd6.14479c"]]},{"id":"57e0dcd6.14479c","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":240,"wires":[["b81442e3.d91f3"]]},{"id":"85190dbf.5a4c18","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1610,"y":180,"wires":[[]]},{"id":"b81442e3.d91f3","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Login","events":"all","x":1800,"y":240,"wires":[[]]},{"id":"1a32f228.c13afe","type":"function","z":"5aacb45.4eda34c","name":"incorrect value","func":"if(msg.payload.Age<=0)\n{\n    msg.payload=\"Please Enter Correct Age\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["afc1d0ef.886c8"]]},{"id":"53d6b527.8333f4","type":"function","z":"5aacb45.4eda34c","name":"correct value","func":"if(msg.payload.Age>0)\n{\n    msg.payload=\"Passenger \"+(msg.payload.Index+1)+\" Details Saved Successfully\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["b22a65fe.ea2078","afc1d0ef.886c8"]]}]